export CLICOLR=1
export CLCOLORS=GxFxCxDxBxegedabagaced
export LC_ALL="en_US.UTF-8"

alias ll='ls -l'
alias reapache='sudo service apache2 restart && sudo service apache2 reload'
alias remongo='sudo service mongod restart'
